<%= form_for @newspaper do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %><br>
	<%= f.label :editor %>
	<%= f.text_field :editor %><br><br>
	<h3>Subscription</h3><br>
	<%= f.fields_for :subscription_plans do |spf| %>
		<%= spf.label :name%>
		<%= spf.text_field :name %><br>
		<%= spf.label :price %>
		<%= spf.number_field :price %><br>

		<%= spf.radio_button :weekly, '0', :checked => true %> 
  		<%= spf.label :weekly_0, 'Daily' %>
		<%= spf.radio_button :weekly, '1' %>
  		<%= spf.label :weekly_1, 'Weekly' %><br><br>
	<% end %>
	<%= f.submit nil, :class => "btn" %>
<% end %>